@charset="UTF-8";

p {
  word-break: break-all;
}

.anchor {
  margin-top:-55px;
  padding-top: 55px; 
}

header.jumbotron {
  background: url("../images/top_01.jpg");
  background-position: bottom center;
  background-size: cover;
  color: #1f1f1f;
}

header .container {
  margin-top: 8%;
}

header h1 {
  font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  padding-bottom: 20px;
}

header .text{
  text-shadow: 1px 1px 2px #DDDDDD,
              -1px 1px 2px #DDDDDD,
               1px -1px 2px #DDDDDD,
              -1px -1px 2px #DDDDDD;
}

header .textsmall{
  text-shadow: 1px 1px 1px #DDDDDD,
              -1px 1px 1px #DDDDDD,
               1px -1px 1px #DDDDDD,
              -1px -1px 1px #DDDDDD;
  font-weight: bold;            
}

div.panel-info {
  max-height: 400px;

}

div.panel-body.well{
  margin-bottom: 0;
}

nav p{
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 25px;
}

.new-content .content-area {
  padding: 0 20px 15px 15px;
}

.new-content .content-area .panel-body ul{
  max-height: 260px;
  overflow-y: scroll;
}

.new-content .content-area .panel-body ul li {
  word-break: break-all;
}


.new-content .content-area .panel-body ul li time {
  font-weight: bold;
  padding-right: 20px;
}

.sidebar aside img{
   max-width: 80px;
   height: auto;
   margin: 5px;
}

.img-responsive {
  margin: 0 auto;
}

.twitter-timeline {
  max-height: 300px;
}

#banner_area {
  margin-top: 10px;
}
#banner_area a {
  text-decoration: none;
}

#banner_area .banner {
  width:230px;
  height: 150px;
}

#banner1 {
  background-image: url(../images/banner1.jpg);
  border:3px solid #000;
}

#banner1 .description, #banner1 h4 {
  font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  color: #000000;
}

#banner1 .description {
  font-size: 16px;
  margin-left: 15px;
  padding-top: 10px;
}

#banner1 h4 {
  font-size: 40px;
  margin-left: 5px;
}

#banner2 {
  background-image: url(../images/banner2.jpg);
  border:1px solid #555;
  text-align: center;
}

#banner2 .description, #banner2 h4 {
  color: #191970;
  text-shadow: 1px 1px 1px #DDDDDD,
              -1px 1px 1px #DDDDDD,
               1px -1px 1px #DDDDDD,
              -1px -1px 1px #DDDDDD;
}

#banner2 h4 {
  font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
  font-size: 42px;
}

#banner2 .description {
  padding-top: 30px;
  font-weight: bold;  
  font-size: 18px;
}

#banner3 {
  background-image: url(../images/banner3.jpg);
  border:1px solid #555;
}

#banner3 h4 {
  padding-top: 5px;
  padding-left: 15px;
  color: #222222;
  font-size: 30px;
}

#banner3 .description {
  padding-top: 30px;
  padding-left: 25px;
  color: #222222;
}

div#gallery{
  margin-bottom: 15px;
}

div#gallery .items_row {
  margin-bottom: 20px;
}

figure {
  margin: 0 auto; 
  position: relative;
  overflow: hidden;
  max-width: 400px;
  height: auto;
}

figcaption {
  padding:5%;
  max-width: 400px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  margin:auto;
  z-index: 2;
  background: rgba(0,0,0,.8);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  color:#FFF;
}

figure:hover figcaption {
  opacity: 1;
}

figcaption p.title{
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}

.see_more {
  text-align: right;
}

#inquiry_info,
#company_info {
  padding-left: 0;
  padding-right: 0;
}

#items_info h2 {
  margin:0;
  padding:10px 20px;
  font-size: 120%;
  font-weight: bold;
}

#inquiry_info h2,
#company_info h2 {
  background: #2c3e50;
  color: #FFFFFF;
  margin:0;
  padding:10px 20px;
  font-size: 120%;
  font-weight: bold;
}

form legend {
  display:none;
}

#company_info p {
  font-size: 110%;
}

#map-canvas {
  height: 400px;
  width: 640px;
  margin: 0px;
  padding: 0px;
}

footer {
  margin-top:20px;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 600px;
  background-color: #2c3e50;
  color: #FFFFFF;

}

footer #map-canvas {
  margin-bottom: 20px;
}

footer #copyright {
  text-align: center;
}

footer h4 {
  font-weight: bold;
}

